extends layout

block content

  h1 #{image.title}
  img(src='#{image.id}.jpg') 
  h3 Published by #{image.publisher}
  p(style='white-space:pre;')
   | Views: #{image.views}  
   | Date:  #{image.date.toDateString()}

  h3 Comments 
  table
    each comment in image.comments
      tr
        td(style='white-space:pre;')
          | #{comment.name}
          | #{comment.text} 
          | #{comment.date.toDateString()}
