doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    #logo 
      a(href='/')
        img(src='/images/flackr_logo.png', alt="Flackr Logo")
    h2 The #1 website for sharing your images!
  body
    block content



